.about-company{
    margin: 24px;
    background-image: url(img/image\ 85.png);
    background-size: 100%;
    padding: 70px 198px;
    background-repeat: no-repeat;
}
.text-about{
    width: 670px;
}